


.services-slider__features {
  list-style: none;

  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 1px;
  padding-right: 190px;

  color: $color-dark-blue;

  &--credit {
    margin-bottom: 22px;
  }

  &--insurance {
    margin-bottom: 25px;
  }

  &--online {
    padding-right: 45px;
  }
}

.services-slider__feature {
  position: relative;

  font-size: 14px;
  line-height: 18px;

  margin-bottom: 12px;
  padding-left: 14px;

  color: $color-dark-blue;

  &::before {
    top: 4px;
    left: -2px;

    @include background-image("../img/icon-feature-mobile.svg", 10px, 8px);
  }

  &--online {
    padding-right: 30px;

    &:first-child {
      padding-right: 60px;
    }
  }
}

.services-slider__text {
  font-size: 14px;
  line-height: 20px;

  margin: 0;
  padding-right: 90px;

  color: $color-dark-blue;
}

.services-slider__text-link {
  text-decoration: underline;

  color: $color-dark-blue;
}

.services-slider__link {
  @include button($color-white, $color-bright-blue);

  font-size: 14px;
  line-height: 16px;

  width: 290px;

  padding: 14px 11px 13px 6px;

  &--insurance {
    padding-top: 15px;
    padding-bottom: 12px;
  }

  &--online {
    padding-top: 15px;
    padding-bottom: 12px;
  }
}

@media (min-width: $tablet-width-min) {


  .services-slider__features {
    margin-bottom: 30px;
    padding-left: 7px;

    &--credit {
      margin-bottom: 31px;
    }

    &--insurance {
      margin-bottom: 31px;
    }

    &--online {
      padding-right: 45px;
    }

    &--online {
      margin-bottom: 31px;
    }
  }

  .services-slider__feature {
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 15px;

    &::before {
      top: 6px;
      left: -8px;

      @include background-image("../img/icon-feature-tablet.svg", 13px, 10px);
    }

    &--deposit {
      &:last-child {
        width: 360px;
      }
    }

    &--online {
      &:first-child {
        width: 274px;
      }

      &:last-child {
        width: 360px;
      }
    }
  }

  .services-slider__text {
    font-size: 16px;
    line-height: 21px;

    width: 395px;
  }

  .services-slider__link {
    font-size: 16px;
    line-height: 22px;

    width: 198px;

    padding: 13px 6px 13px 6px;

    &--insurance {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &--online {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}

@media (min-width: $desktop-width-min) {


  .services-slider__features {
    margin-bottom: 34px;

    &--credit {
      margin-bottom: 31px;
    }

    &--insurance {
      margin-bottom: 31px;
    }

    &--online {
      padding-right: 45px;
    }

    &--online {
      margin-bottom: 31px;
    }
  }

  .services-slider__feature {
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 15px;

    width: 420px;

    &::before {
      top: 5px;
    }

    &--deposit {
      &:last-child {
        width: 420px;
      }
    }

    &--online {
      &:first-child {
        width: 350px;
      }

      &:last-child {
        width: 390px;
      }
    }
  }

  .services-slider__text {
    font-size: 18px;
    line-height: 25px;

    width: 440px;
  }

  .services-slider__link {
    line-height: 19px;

    padding-top: 16px;
    padding-bottom: 16px;

    &--insurance {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &--online {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}
